.header{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(53, 95, 53);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    position: relative;
    height: 30px;
}

.header-top a{
    text-decoration: none;
    color: white;
}

.header-top button{
    width: 70px;
    height: 25px;
    background-color: orangered;
    border-radius: 50px;
}

.header nav{
    border-bottom: 1px solid black;
    padding-left: 45%;
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    color: black;
    list-style: none;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}

nav a{
    text-decoration: none;
    color: black;
}

.menu li select {
    outline: none;
}

.hero-img img{
    width: 100%;
    height: 576px;
    margin: 0px;
    padding: 0px;
    /* background: url("../../public/assets/outdoor\ space.jpg") no-repeat; */
    background-position: center;
    background-size: cover;
}

/* .hero-img img{

} */

.active{
    cursor: pointer;
    color: green;
}